body {
    background: linear-gradient(to right, #003d3a, #005f5f, #00838f);
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .TodoForm {
    width: 100%;
    margin-bottom: 1rem;
  }

  .todo-input {
    background-color: rgb(209, 201, 201);
    border: 1px solid #000000;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    
  } 
  .todo-btn {
    
    background: #542a58;
    color: #fff;
    padding: 0.55rem;
    cursor: pointer;
  }
  .todo-btn:hover{
    background: #0056b3;
  }
  .TodoWrapper {
    background: #1b96b4;
    padding: 2rem;
    border-radius: 5px;
    
  }
  .Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size:20px;
  }
  .incompleted {
    color: #fff;
    cursor: pointer;
  }
  
  .completed {
    color: #c5aeff;
    text-decoration: line-through;
    cursor: pointer;
  }
  .fa-trash {
    margin-left: 0.75rem;
  }
  .todo-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #1b96b4;
    
  }
  
  .todo-list h1 {
    text-align: center;
    color: #161616;
  }
  
  .todo-list ul {
    margin-top:20px;
    list-style: none;
    padding: 0;
  }
  
  .todo-list li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: rgb(81, 112, 180);
    margin-top: 5px;
    font-size: 20px;
  }
  
  
  .todo-list li span {
    margin: 0 5px;
  }
  
  nav ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #051b08;
  }
  
 nav li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #542a58;
  }
  .filters {
    margin: 10px 0;
  }
  
  .filters button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #542a58;
    color: white;
    cursor: pointer;
  }
  
  .filters button:hover {
    background-color: #0056b3;
  }
  @media screen and (max-width: 380px){
   
    .TodoWrapper {
      
      margin-left:60px;
    } 
     nav ul {
      
      margin-left:70px;
    }

  } 